/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */


/* Kleuren */
body {
    --primary-color: #ffffff;
    --secondary-color: #a6a6a6;
    --btn-rouwtaak1: #64aac7;
    --btn-rouwtaak2: #984a4a;
    --btn-rouwtaak3: #6e9158;
    --btn-rouwtaak4: #7c6097;

/* Typografie */

    --font-size-text: 16px;
    --font-size-header-s: 24px;
    --font-size-header-m: 32px;
    --font-size-header-l: 48px;

    --font-family-header: 'Calvino Grande Trial', sans-serif;
    --font-family-text: 'Figtree', sans-serif;

/* Formulier elementen */

}